@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Do+Hyeon&display=swap");
:root {
  --bg-color: #fbf7f2;
}
body {
  height: 100%;
  display: block;
  /* position: -webkit-sticky; */
  background-color: --bg-color;
  text-align: center;
  justify-content: center;
}

/* intro start */

img {
  height: 2rem;
  width: 2rem;
  margin: 2rem auto;
}
.intro {
  margin: 5rem auto;
}

.logo-img {
  float: center;
  height: 5.5rem;
  width: 5rem;
}

.title {
  color: black;
  font-family: "Do Hyeon", sans-serif;
}

.sub-title {
  color: black;
  font-family: "Do Hyeon", sans-serif;
}

.btn-positioner {
  margin: 7rem;
  display: block;
}

.start-btn-div {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-family: "Do Hyeon", sans-serif;
}
.start-btn {
  height: 3.5em;
  width: 20rem;
}

.start-btn-participants {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: "Do Hyeon", sans-serif;
}

.intro-footer {
  margin: 6rem auto;
  font-family: "Do Hyeon", sans-serif;
  color: grey;
  opacity: 50%;
}

/* question & answer start */

.question {
  margin: 3rem 3rem 2rem 3rem;
  color: black;
  font-family: "Do Hyeon", sans-serif;
}

.question-p {
  /* white space for line break */
  white-space: pre-line;
}

.option-btn-div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-btn:focus,
.option-btn:active {
  outline: none;
  outline-offset: none;
  box-shadow: none;
  background-color: --bg-color;
  color: black;
}

.option-btn {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: bolder;
  font-size: 0.8rem;
  height: 7em;
  width: 20rem;
  margin: 0.5em;
  word-break: keep-all;
  white-space: pre-line;
}

.question-progress {
  margin: 3rem 5rem;
  position: relative;
  display: block;
}

.progress-bar {
  height: 4px;
}

.question-count {
  margin-top: 1rem;
  color: black;
  font-size: 1.3rem;
  font-family: "Do Hyeon", sans-serif;
}

/* loading start */

.loading {
  margin-top: 12rem;
}

.loading-upper {
  /* for strange number display, color change */
  color: --bg-color;
}

/* result start */
.result {
  max-width: 100%;
  margin: 3rem 1rem 1rem 1rem;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-value {
  margin: 1rem 0.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: normal;
}

.result-card {
  width: 20rem;
}

.result-header {
  margin: 5rem auto;
}

.result-title {
  font-family: "Do Hyeon", sans-serif;
}

.result-p {
  font-family: "Nanum Gothic", sans-serif;
  white-space: pre-line;
  word-break: keep-all;
  font-size: 0.7rem;
  margin: 1.5rem auto;
}

.result-header {
  font-family: "Do Hyeon", sans-serif;
  margin: 1rem 0.5rem;
  color: black;
}

.result-logo-image {
  height: 2rem;
  width: 2rem;
  margin: 1rem auto;
}

.result-img {
  height: auto;
  width: 18rem;
  margin: 1rem auto 0rem;
}

.share-title {
  font-family: "Do Hyeon", sans-serif;
  margin: 0rem 1.5rem 1.5rem 1.5rem;
  color: black;
}

.share-btn {
  font-family: "Do Hyeon", sans-serif;
  display: inline;
  margin: 3rem 1rem;
}

.re-test-btn {
  font-family: "Do Hyeon", sans-serif;
  display: inline;
  margin: 3rem 1rem;
}

/* result guide start */

.guide-desc {
  color: black;
  margin: 10rem 5rem 5rem 5rem;
}
